proc            /proc           proc    defaults          0       0
PARTUUID=fa09146e-01  /boot/firmware  vfat    defaults          0       2
PARTUUID=fa09146e-02  /               ext4    defaults,noatime  0       1
# a swapfile is not a swap partition, no line here
#   use  dphys-swapfile swap[on|off]  for that

tmpfs           /tmp            tmpfs     defaults,size=32m,noatime,mode=1777 0       0
tmpfs           /var/tmp        tmpfs     defaults,size=32m,noatime,mode=1777 0       0
tmpfs           /var/log        tmpfs     defaults,size=32m,noatime,mode=1777 0       0
