
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

wake_on_lan:
  - name: EVE
    mac_address: {{ eve_mac }}
    host: 192.168.0.170

  - name: PVE
    mac_address: {{ pve_mac }}
    host: 192.168.0.180

  - name: HDL-NAS
    mac_address: {{ hdl_nas_mac }}
    host: 192.168.0.181

switch:
  - platform: wake_on_lan
    mac: {{ eve_mac }}
    name: "EVE"
  - platform: wake_on_lan
    mac: {{ pve_mac }}
    name: "PVE"
  - platform: wake_on_lan
    mac: {{ hdl_nas_mac }}
    name: "HDL-NAS"
