- name: Make n8n directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/n8n_data
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Make n8n local directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/local-files
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Make n8n local directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/rag
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Make pgadmin directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/pgadmin_data
    state: directory
    mode: "0755"
    owner: 5050
    group: 5050

- name: Make compose.yml
  ansible.builtin.template:
    src: compose.yml
    dest: /var/n8n/compose.yml
    mode: "0644"
  notify: Restart n8n
