- name: Make n8n directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/n8n_data
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Make n8n local directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/local-files
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Make n8n local directory
  become: true
  ansible.builtin.file:
    path: /var/n8n/rag
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Make postgres data directory (postgres image uses UID/GID 70)
  become: true
  ansible.builtin.file:
    path: /var/n8n/postgres_data
    state: directory
    mode: "0700"
    owner: "70"
    group: "70"

- name: Make compose.yml
  ansible.builtin.template:
    src: compose.yml
    dest: /var/n8n/compose.yml
    mode: "0644"
  notify: Restart n8n
