- name: OCI ARM Instances
  hosts: oci_arm
  roles:
    # - role: docker
    #   tags:
    #     - docker
    # - role: fail2ban
    #   tags:
    #     - fail2ban
    - role: portainer
      tags:
        - portainer
    - role: n8n
      tags:
        - n8n
